@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/home.css" />
<div class="text-center">
    <div class="title-container">

    <h1 class="display-4 details-title">Charles' Downtown Diner</h1>
    <a class="btn view-btn" asp-controller="Menu" asp-action="IndexMenu">Menu</a>
    </div>
</div>
